/*           RESET         */

* {
        margin: 0;
        padding: 0;
}

body {
        font-family: "Montserrat", serif;
        box-sizing: border-box;

}

html {
        scroll-behavior: smooth;
}

ul,
li,
a,
button {
        text-decoration: none;
        list-style: none;
        color: inherit;
}




/*      GENERAL STYLE         */



h1 {
        font-family: "Roboto", serif;
        font-size: 48px;
        font-weight: 300;
}

h2 {
        font-family: "Roboto", serif;
        font-size: 36px;
        font-weight: 300;
}

.logo {
        font-size: 50px;
        font-family: "Noto Sans JP", serif;
        font-weight: 300;
        margin: auto 0px;
        /* items: center; */
        text-align: center;
        /* margin: auto; */

}

.logo:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;

}

p {
        font-family: "Montserrat", serif;
        font-weight: 300;
        font-size: 18px;
        /* letter-spacing: 0lvb.5px; */
}

button {
        padding: 10px 10px;
        background-color: white;
        color: rgb(0, 0, 0, 0.8);
        font-family: "Roboto", serif;
        font-size: 24px;
        width: 200px;
        border: 1px solid coral;
}

button:hover {
        background-color: white;
        cursor: pointer;
        border: 1px teal solid;
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
}

/* end of functionality and rese              */





























/* NAVIGATION */


.navigation {
        position: fixed;
        height: 70px;
        top: 0px;
        right: 0px;
        left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 20px;
        background-color: white;
        border-bottom: solid 1px teal;
        z-index: 1000;
}

.nav-link {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 48px;
}

.navitems:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
        margin:0px;
}
















/* HERO */
.hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        max-width: 1024px;
        margin: 110.4px auto 0px auto;
        padding: 0px 20px;
        height: 100vh;
        border-bottom: 1px solid teal;
}

.heroimage-container {
        width: 100%;
        height: 400px;
}

.hero-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        filter: grayscale(16);
}



.hero-text {
        display: flex;
        flex-direction: column;
        gap: 30px;
}

.myname {
        font-weight: 500;
        font-weight: 500;
        font-size: 48px;
        color: coral;
}





























                                                /* EXPERIENCES*/


.work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        padding: 0px 20px;
        margin: 0px auto; 
        max-width: 1024px;
        height: 100vh;
        border-bottom: 1px solid teal;
}

.workwraper {
         /* position: relative; */
        display: flex;
        justify-content: space-between;
        /* margin: auto; */
        flex-wrap: wrap;
        gap: 40px;
        max-width: 1024px;

}

.stack {
        background-color: white;
        padding:10px 5px;
        border-radius: 5px;
        background: #ffffff;
        box-shadow: 20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
        text-align: center;
        width: 250px;
}

.stack:hover {
        transform: scale(1.1);
        border: 1px solid coral;
        /* border: 1px solid rgb(220, 20, 60, 0.5); */
        transition: transform 0.3s ease-in-out;
}


































/* My projects general css */

/* set section to flex col, margin y 0px */
/* .project-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
        margin: 0px auto;
} */

/* .article{  */
/* container with layers */
/* position: relative; */
/* display: block; */
/* background-image: url(Image/project1.jpg); */
/* max-width: 1000px; */
/* height: 500px; */
/* margin: auto; */
/* background-size: cover; */
/* background-repeat: no-repeat; */
/* padding: 20px 0px; */
/* } */


/* set image container position to relative */
/* .imagecontainer {
        position: relative;
        border-radius: 5px;
        height: 50vh;
} */


/* Set image width and height  */
/* .imagecontainer img { */
/* width: 100%; Adjust width as needed */
/* height: 50vh; */
/* border-radius: 5px; */
/* } */

/* Set the overlay div position to absolute */
/* .overlay { */
/* position: absolute; */
/* top: 0px; */
/* width: 100%; */
/* height: 50vh; */
/* border-radius: 5px; */
/* background-color: rgb(0, 0, 0, 0.6); */
/* display: none; */
/* } */

/* set article position to absolute also */
/* .articleInfo {
        position: absolute;
        bottom: 0px;
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        color: white;
} */

/* .articleInfo button{
        color: white;
        background-color: black;
} */





/* inset: 0px; short hand for top left bottom right */






























                                                /* PROJECTS */





.projects-container {
        padding: 0px 20px;
        border-bottom: 1px solid teal;
        max-width: 1024px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;

}


.project-heading {
        text-align: center;
        padding-top: 50px;
}


/* project display settings */
.project {
        height: 33vh;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        box-shadow: 20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
}

.img-container {
        /* height: 100%; */
        /* width: 100%; */
        position: relative;

}

.project-image {
        /* position: absolute; */
        /* inset: 0px; */
        margin: 0;
        /* width: 100%; */
        /* height: 100%; */
        object-fit: cover;

}

.overlay {
        position: absolute;
        height: 33vh;
        inset: 0px;
        background-color: rgba(9, 7, 7, 0.7);

}

.overlay:hover {
        background-color: rgb(255, 127, 80, 0.2);
        transition: transform 2s ease-in-out;

}

.article-info {
        position: absolute;
        bottom: 0px;
        color: rgb(0, 0, 0, 0.8);
        padding: 20px;
        border: 0px;

        display: flex;
        flex-direction: column;
        gap: 10px;
}


/* footer */
footer {
        text-align: center;
        background-color: teal;
        padding: 20px 20px;
        margin-top: 40px;

}




@media screen and (max-width: 600px) {
        h1 {
                font-size: 36;
                font-weight: 300;
        }

        h2 {
                font-size: 24px;
        }

        p {
                font-size: 14px;
        }

        .hero {
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                max-width: 80%;
                margin-top: 80px;
        }

        .hero image {
                object-fit: cover;
                overflow: hidden;
        }

        .projects-container {
                /* max-width: 80%; */
        }
        project {
                height: 200px;
        }

        
        .work {
                max-width: 80%;

        }

        .navigation {
                padding: 20px;
        }

        .stack {
                width: 128px;
        }

}