/*           RESET         */

* {
        margin: 0;
        padding: 0;
}

body {
        font-family: "Montserrat", serif;
        box-sizing: border-box;

}

html {
        scroll-behavior: smooth;
}

ul,
li,
a,
button {
        text-decoration: none;
        list-style: none;
        color: inherit;
}




/*      GENERAL STYLE         */



h1 {
        font-family: "Roboto", serif;
        font-size: 48px;
        font-weight: 300;
}

h2 {
        font-family: "Roboto", serif;
        font-size: 36px;
        font-weight: 300;
        text-decoration: underline;
}

.logo {
        font-size: 50px;
        font-family: "Noto Sans JP", serif;
        font-weight: 300;
        margin: auto 0px;
        /* items: center; */
        text-align: center;
        /* margin: auto; */

}

.logo:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;

}

p {
        font-family: "Montserrat", serif;
        font-weight: 300;
        font-size: 18px;
        /* letter-spacing: 0lvb.5px; */
}

button {
        padding: 10px 10px;
        background-color: white;
        color: rgb(0, 0, 0, 0.8);
        font-family: "Roboto", serif;
        font-size: 24px;
        width: 200px;
        border: 1px solid coral;
}

button:hover {
        background-color: white;
        cursor: pointer;
        border: 1px teal solid;
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
}

/* end of functionality and rese              */





























/* NAVIGATION */


.navigation {
        position: fixed;
        height: 70px;
        top: 0px;
        right: 0px;
        left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 10px 20px;
        background-color: white;
        border-bottom: solid 1px teal;
        z-index: 1000;
}

.nav-link {
        display: flex;
        align-items: center;
        gap: 30px;
}

.nav-items:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
        margin:0px;
}


.logo{
        margin-bottom: 10px;
}


.navi-items{
        margin-top: 20px;

}














/* HERO */
.hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        max-width: 1024px;
        margin: 110.4px auto 0px auto;
        margin: auto;
        padding: 0px 20px;
        height: 100vh;
        /* border-bottom: 1px solid teal; */
}

.heroimage-container {
        width: 100%;
        height: 400px;
}

.hero-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        filter: grayscale(16);
}



.hero-text {
        display: flex;
        flex-direction: column;
        gap: 30px;
}

.myname {
        font-weight: 500;
        font-weight: 500;
        font-size: 48px;
        color: coral;
}





























                                                /* EXPERIENCES*/


.work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding: 0px 20px;
        margin: 0px auto; 
        max-width: 1024px;
        height: 100vh;
}

.workwraper {
         /* position: relative; */
        display: flex;
        justify-content: space-between;
        /* margin: auto; */
        flex-wrap: wrap;
        gap: 40px;
        max-width: 1024px;

}
.stack {
        background-color: white;
        padding: 10px 5px;
        border: 1px solid rgb(255, 127, 80, 0.6);
        border-radius: 5px;
        background: #ffffff;
        box-shadow: 20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
        text-align: center;
        width: 250px;
}

.stack:hover {
        transform: scale(1.1);
        border: 1px solid teal;
        /* border: 1px solid rgb(220, 20, 60, 0.5); */
        transition: transform 0.3s ease-in-out;
}










/* PROJECTS */

.projects-container {
        padding: 60px 20px;
        max-width: 1024px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;

}

.project-heading {
        text-align: start;
        padding-top: 80px;
}


/* project display settings */
.project {
        position: relative;
        height: 500px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
}

.img-container {
        position: relative;

}

.project-image {
        margin: 0;
        object-fit: cover;

}

.overlay {
        position: absolute;
        height: 500px;
        inset: 0px;
        background-color: rgba(9, 7, 7, 0.7);

}

.overlay:hover {
        transition: transform 2s ease-in-out;

}

.article-info {
        position: absolute;
        bottom: 0px;
        color: white;
        padding: 20px;
        border: 0px;

        display: flex;
        flex-direction: column;
        gap: 10px;
}


.button-projects {
        padding: 10px 10px;
        background-color: white;
        border: none;
        color: teal;
        font-family: "Roboto", serif;
        font-size: 24px;
        width: 300px;
}

.button-projects:hover {
        cursor: pointer;
        border: none;
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
}







/* footer */
footer {
        text-align: center;
        background-color: teal;
        padding: 50px 20px;
}

@media screen and (max-width: 600px) {

        h1 {
                font-size: 36;
                font-weight: 300;
        }

        h2 {
                font-size: 24px;
                text-align: center;
        }

        p {
                font-size: 14px;
        }






        .navigation {
                padding: 5px;
                height: 80px;
                font-size: 24px;
        }
        .logo{
                margin-bottom: 10px;
        }

        .nav-link{
                display: block;
        }
        .navi-items{
                margin-top: 20px;

        }










        .hero {
                display: block;
                margin: 111px auto 40px auto;
                gap: 0px;
                max-width: 90%;
        }


        .hero-image {
                object-fit: cover;
                overflow: hidden;
                width: 70vw;
                /* border-left: 20px solid #392525; */
                
        }

        .hero-text{
                margin: 40px auto;
        }

        .projects-container {
                max-width: 90vw;
                padding-top: 60px;
        }

        .project-heading{
                text-align: center;
                padding-top: 0px;

        }

        .project {
                height: 200px;
        }

        




        .work {
                max-width: 90%;
                margin-top: 0px;
                padding-top: 60px;
                height: auto;
        }

        .workwraper{
                gap: 36px;
        }


        .stack {
                width: 80px;
        }

}