* {
        margin: 0;
        padding: 0;
}

body {
        font-family: "Montserrat", serif;
        box-sizing: border-box;
        animation-duration: 1000;

}

html {
        scroll-behavior: smooth;
}

ul,
li,
a,
button {
        text-decoration: none;
        list-style: none;
        color: inherit;
        font-size: 24px;
        font-weight: 400px;
}

h1 {
        font-family: "Roboto", serif;
        font-size: 48px;
        font-weight: 700;
}

h2{
        font-family: "Roboto", serif;
        font-size: 36px;
        font-weight: 500;
}

.logo{
        font-weight: 100;
}

.logo:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;

}

p{
        font-family: "Montserrat", serif;
        font-weight: 300;
        font-style: normal;
}

button {
        padding: 10px 10px;
        background-color: white;
        color: black;
        /* color:white; */
        font-family: "Roboto", serif;
        font-size: 20px;
        width: 200px;
        border: 1px solid coral;
}

button:hover {
        background-color: teal;
        cursor: pointer;
        color: #ffffff;
        border: none;

        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
}

/* end of functionality and rese              */





























                                                /* NAVIGATION */


.navigation {
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 20px;
        background-color: white;
        border-bottom: solid 1px teal;
        z-index: 1000;
}

.nav-link {
        display: flex;
        gap: 20px;
}


.nav-link:hover{
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
}



























/* hero */
.hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        max-width: 1024px;
        /* margin: 0px auto; */
        margin: 60px auto;
        height: auto;
        padding: 60px 20px;
        border-bottom: 1px solid teal;
}

.heroimage-container {
        position: relative;
        max-width: 512px;
        height: auto;
        /* max-width: ; */
        /* height: auto; */
}

/* .hero */
.hero-image {
        /* position: relative; */
        /* height: 300px; */
        max-width: 512px;
        object-fit: cover;
        overflow: hidden;
}

.overlayheroimage {
        position: absolute;
        inset: 0;
        /* width: 100vw; */
        /* height: 100vh; */
        background-color: rgb(0, 128, 128, 0.5);
}

/* .hero-text h1,
p {
        margin-bottom: 10px;
} */

.hero-text {
        display: flex;
        flex-direction: column;
        gap: 30px;
}






























                                                /* EXPERIENCES*/

.work {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 30px 20px;
        margin: 20px auto;
        /* text-align: center; */
        position: relative;
        max-width: 1024px;
        border-bottom: 1px solid teal;

}


.workwraper {
        position: relative;
        display: flex;
        justify-content: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;
        max-width: 1024px;
        /* padding-top: 50px; */

}

/* .wrappercover {
        position: absolute;
        top: 0px;
        width: 100x;
        height: 100px;
        background-color: rgb(46, 6, 6);
        z-index: 1000;
} */

.stack {
        background-color: white;
        padding: 5px 5px;
        border-radius: 5px;
        background: #ffffff;
        box-shadow: 20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;


        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
        align-items: center;
        /* width: 100px; */
        width: 150px;

        font-family: 12px;
}


.stack:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
}


































/* My projects general css */

/* set section to flex col, margin y 0px */
/* .project-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
        margin: 0px auto;
} */

/* .article{  */
/* container with layers */
/* position: relative; */
/* display: block; */
/* background-image: url(Image/project1.jpg); */
/* max-width: 1000px; */
/* height: 500px; */
/* margin: auto; */
/* background-size: cover; */
/* background-repeat: no-repeat; */
/* padding: 20px 0px; */
/* } */


/* set image container position to relative */
/* .imagecontainer {
        position: relative;
        border-radius: 5px;
        height: 50vh;
} */


/* Set image width and height  */
/* .imagecontainer img { */
/* width: 100%; Adjust width as needed */
/* height: 50vh; */
/* border-radius: 5px; */
/* } */

/* Set the overlay div position to absolute */
/* .overlay { */
/* position: absolute; */
/* top: 0px; */
/* width: 100%; */
/* height: 50vh; */
/* border-radius: 5px; */
/* background-color: rgb(0, 0, 0, 0.6); */
/* display: none; */
/* } */

/* set article position to absolute also */
/* .articleInfo {
        position: absolute;
        bottom: 0px;
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        color: white;
} */

/* .articleInfo button{
        color: white;
        background-color: black;
} */





/* inset: 0px; short hand for top left bottom right */






























                                                   /* PROJECTS */





.projects-container {
        padding: 30px 20px;
        border-bottom: 1px solid teal;
        max-width: 1024px;
        margin: 30px auto;

}


.project-heading {
        text-align: center;
        font-size: 36px;
}


/* project display settings */
.project {
        /* max-width: 1024px; */
        height: 450px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        margin: 60px auto 30px auto;
}

.img-container {
        /* height: 100%; */
        /* width: 100%; */
        position: relative;
}

.project-image {
        /* position: absolute; */
        /* inset: 0px; */
        margin: 0;
        /* width: 100%; */
        /* height: 100%; */
        object-fit: cover;
}

.overlay {
        position: absolute;
        inset: 0px;
        background-color: rgb(255, 127, 80, 0.8);
}

.overlay:hover {
        background-color: rgb(255, 127, 80, 0.2);
        transition: transform 2s ease-in-out;

}

.article-info {
        position: absolute;
        bottom: 0px;
        color: white;
        padding: 20px;
        border: 0px;

        display: flex;
        flex-direction: column;
        gap: 10px;
}


/* footer */
footer {
        text-align: center;
        background-color: teal;
        padding: 20px 20px;
        margin-top: 40px;

}




@media screen and (max-width: 540px ) {
        .hero {
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                max-width: 80%;
                margin-top: 80px;
        }

        .hero image {
                object-fit: cover;
                overflow: hidden;
        }

        .projects-containe{
                max-width: 80%;
        }

        .work{
                max-width: 80vw;

        }

        .navigation{
                padding: 20px;
        }
}